{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    }


    body {

        background-color: rgb(102, 29, 170);
    }

    main{

        background-color: aliceblue;
        width: 500pc;
        margin: auto;
        padding: 10px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
    }

    img.item {
      float: inherit; 
    }